

#first{
    width: 550px;
    height: 275px;
    
   
}
.top{
    float: left;
    animation: sus 10s 1;
    animation-delay: 3.5s;
    width: 100px;
    height: 25px;
    margin-left: 10px;
    background-color: #333;
    transform: translateY(180px);
}
.a1{
    animation: sus 3.5s 1;
    animation-iteration-count: 20;
}
.a2{
    animation: sus 3.5s 1;
    animation-delay: 0.7s;
    animation-iteration-count: 20;
}
.a3{
    animation: sus 3.5s 1;
    animation-delay: 1.4s;
    animation-iteration-count: 20;
}
.a4{
    animation: sus 3.5s 1;
    animation-delay: 2.1s;
    animation-iteration-count: 20;
}
.a5{
    animation: sus 3.5s 1;
    animation-delay: 2.8s;
    animation-iteration-count: 20;
}

@keyframes sus{
    from{
        transform: translateY(180px);
    }
    25%{
        transform: translateY(80px);
        
        background-color: blue;
    }
    50%{
        transform: translateY(180px);
        
    }
    to{
        
        transform: translateY(180px);
    }
}
